<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Stock Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Lexend+Zetta&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Stock Simulator</h1>
            <a href="{{ url_for('auth.register') }}">New User? Create Account →</a>
        </header>

        <main class="card">
            <form class="form" method="POST" action="/login">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="email" placeholder="Enter your email" required />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required />
                </div>

                <button type="submit" class="submit-btn" id="submit">Login</button>

                <div class="icon"></div>
            </form>
        </main>
    </div>
    <script type='module' src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>