<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trade UI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/trade.css') }}"/>
</head>
<body id="trade">
  <div class="container">
    <label for="stock-select">Stocks:</label>
    <select id="stock-select">
      <option value="" disabled selected>Select a stock</option>
    </select>
     <div class="news-panel" id="news-panel">
      <p>Select a stock to buy/sell.</p>
      <button id = "select-button"><a href ="{{url_for("trade.buysell")}}"> click </a></button>
    </div>
  </div>
  </div>
</body>
<body>
<script type="module"src="{{ url_for('static', filename='js/trade.js') }}"></script>
</body>
</html>